ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.right-nav {
	text-align: right;
}

.nav {
  padding: 10px;
}

.container {
	margin: 0 auto;
	position: relative;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: medium;
	word-break: break-word;
}

.title {
	word-break: break-word;
	font-family: 'Zilla Slab', sans-serif;
	font-size: 50px;
}

.front-bg {
	position: relative;
	text-align: right;
	justify-content: space-between;
	width: 45%;
	margin-left: auto;
	padding-right: 1.33rem;
	text-shadow: transparent;1
}

.tuitt-button {
	color: white;
	width: 150px;
	height: 40px;
	cursor: pointer;
    border: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #c2195b;
    border-color: transparent;
    font-size: 18px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);	
	min-height: 60vh;
    position: block;
    display: table;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;    
    background-color: black;
}

.apply-button {
	color: white;
	width: 150px;
	height: 40px;
	cursor: pointer;
    border: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #c2195b;
    border-color: transparent;
    font-size: 20px;
 	position: relative;
 	bottom: -30px;
}

.book-button {
	color: white;
	width: 150px;
	cursor: pointer;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #336589;
    border-color: transparent;
    position: relative;
    top: -50px;
    text-align: center;
    font-size: 18px;
}

.intro-description, .prefooter-description {
	line-height: 20px;
	margin: 70px;
	/*padding: 30px 30px 30px 30px; */
}

.title-2 {
	text-align: center;
	padding: -110px;
}

.intro {
	margin: 100px;
	text-align: justify;
}

.pre-footer {
	margin: 150px;
	text-align: center;

}

span {
	align: center;
}